:root {
	--header-height: 8rem;
	--footer-height: 6rem;

	--color-black: #000;
	--color-white: #fff;

	--color-gray100: #f4f4f5;
	--color-gray200: #e4e4e7;
	--color-gray300: #d4d4d8;
	--color-gray400: #a1a1aa;
	--color-gray500: #71717a;
	--color-gray600: #52525b;
	--color-gray700: #3f3f46;
	--color-gray800: #27272a;
	--color-gray900: #18181b;
}

@media screen and (min-width: 601px) and (max-width: 1040px) {
}
@media screen and (max-width: 600px) {
	:root {
		--header-height: 6rem;
	}
}
