.table {
	overflow: hidden;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}
.table caption {
	position: absolute;
	left: -9999px;
	font-size: 0;
}
.table thead th {
	font-size: 1.5rem;
	font-weight: 700;
}
.table th,
.table td {
	padding: 2rem;
	text-align: center;
	vertical-align: middle;
}
.table th {
	border-top: 0.1rem solid #999;
	border-bottom: 0.1rem solid #999;
}
.table td {
	border-bottom: 0.1rem solid #ccc;
}
.table tbody tr:last-of-type td {
	border-color: #999;
}

@media screen and (max-width: 768px) {
	.table thead th {
		font-size: 1.3rem;
	}
	.table tbody td {
		font-size: 1.2rem;
	}
	.table tbody td span {
		display: inline-block;
	}
	.table th,
	.table td {
		padding: 2rem 1rem;
	}
}
