.m_tit {
	display: block;
	margin: 10rem 0;
	padding-bottom: 2rem;
	font-size: 6rem;
	font-weight: 700;
	border-bottom: 0.1rem solid #ddd;
}
.m_txt {
	display: block;
	margin-top: 6rem;
	font-size: 2rem;
	text-align: center;
}

@media screen and (min-width: 601px) and (max-width: 1040px) {
}
@media screen and (max-width: 600px) {
	.m_tit {
		margin: 4rem 0;
		font-size: 4rem;
	}
}
