.contents {
	overflow: hidden;
	min-height: calc(100% - var(--footer-height));
}
.contents.full {
	height: calc(100% - var(--footer-height));
}
.contents .container {
	max-width: 160rem;
	margin: 0 auto;
	padding: var(--header-height) 5rem 10rem;
}
br.mobile {
	display: none;
}

@media screen and (max-width: 768px) {
	.contents .container {
		padding-left: 1.2rem;
		padding-right: 1.2rem;
	}
	br.mobile {
		display: block;
	}
}
