.header {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 10;
	width: 100%;
	max-width: 192rem;
	transform: translateX(-50%);
}
.header .inner {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	height: var(--header-height);
	margin: 0 auto;
	padding: 0 1rem;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.3);
}
.header .logo {
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: -0.1rem;
}
.header .logo a {
	display: block;
	padding: 1rem;
}
.header .nav {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.header .nav_menu {
	display: flex;
	align-items: center;
}
.header .nav_menu a {
	padding: 1rem;
	font-size: 2rem;
}
.header .nav_menu a:hover {
	text-decoration: underline;
}
.header .nav_outlink {
	min-width: 4rem;
	padding: 0 1rem;
	text-align: center;
}
.header .nav_outlink a {
	font-size: 2rem;
}

@media screen and (max-width: 768px) {
}
