// .container.about {
// }

.about_wrap {
	display: flex;
	justify-content: center;
	.img {
		position: relative;
		overflow: hidden;
		width: 34rem;
		height: 34rem;
		border-radius: 50%;
		border: 1rem solid var(--color-gray100);
		img {
			width: 100%;
			height: auto;
		}
	}
	.desc {
		margin-left: 6rem;
		.tit {
			display: block;
			font-size: 2rem;
			font-weight: 700;
			sub {
				font-size: 1.6rem;
			}
		}
		.txt {
			margin-top: 3rem;
			font-size: 1.6rem;
			line-height: 1.6;
			.bold {
				font-weight: 700;
			}
			& + .tit {
				margin-top: 6rem;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.about_wrap {
		flex-direction: column;
		.img {
			width: 100%;
			padding: 0;
			img {
				width: 60%;
				height: auto;
			}
		}
		.desc {
			width: 100%;
			.tit {
				margin-top: 3rem;
				text-align: center;
			}
			.txt {
				margin-top: 3rem;
				font-size: 1.4rem;
				line-height: 1.6;
				text-align: center;
			}
		}
	}
}
