.container.about {
}

.container.about .img {
	text-align: center;
}
.container.about .img img {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
}
.container.about .desc {
	width: 50%;
	margin: 0 auto;
}
.container.about .desc .tit {
	display: block;
	margin-top: 6rem;
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}
.container.about .desc .tit sub {
	font-size: 1.6rem;
}
.container.about .desc .txt {
	margin-top: 3rem;
	font-size: 1.6rem;
	line-height: 1.6;
	text-align: center;
}
.container.about .desc .txt .bold {
	font-weight: 700;
}

@media screen and (max-width: 768px) {
	.container.about .desc {
		width: 100%;
	}
	.container.about .desc .txt {
		margin-top: 3rem;
		font-size: 1.4rem;
		line-height: 1.6;
		text-align: center;
	}
}
