.wrap {
	width: 100%;
	height: 100%;
}
.contents {
	overflow: hidden;
	min-height: calc(100% - var(--footer-height));
}
.contents.full {
	height: calc(100% - var(--footer-height));
}
.contents .container {
	max-width: 160rem;
	margin: 0 auto;
	padding: var(--header-height) 5rem 10rem;
	animation-duration: 1s;
	animation-name: intro;
}
br.mobile {
	display: none;
}
@keyframes intro {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (min-width: 601px) and (max-width: 1040px) {
}
@media screen and (max-width: 600px) {
	.contents .container {
		padding-left: 2.4rem;
		padding-right: 2.4rem;
	}
	br.mobile {
		display: block;
	}
}
